<!DOCTYPE html>
<html lang="ko">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style/about.css">
    <meta
        name="viewport"
        content="width=device-width", initial-scale="1.0"
        user-scaleable="yes">
        
    <style>
    </style>
</head>
<body>
    <div class="wrap">
        <%-include('head.ejs') %>

            <div id="introduce">
                <h1>π¤­Introduce</h1>
            </div>
            <div id="profile">
                <img src="image/μ„λ―Όμ§€ μ¦λ…μ‚¬μ§„.jpg" width="300" height="400">
                <br><ul>
                    <li>π‘» Name : μ„λ―Όμ§€</li><br>
                    <li>π‘» Birth : 2001.02.19</li><br>
                    <li>π‘» Blood Type : A</li><br>
                    <li>π‘» School : μ „λ‚¨λ€ν•™κµ</li><br>
                    <li>π‘» Home : κ΄‘μ£Ό</li><br>
                    <li>π‘» Goal : μ΄λ² λ°λΈμΊ ν”„λ¥Ό κΈ°μ μΌλ΅ μµμΆ… λ©ν‘λ” λ‚΄κ°€ κ°λ°μμ μμ§μ΄ μλ”μ§€ ν™•μΈν•λ” κ²ƒ.</li>
                </ul>
            </div>
        </div>
        